certifi==2022.12.7
chardet==3.0.4
cx-Freeze==5.1.1
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4
lxml==4.2.5
numpy==1.15.4
openpyxl==2.5.12
pandas==0.23.4
pandas-datareader==0.7.0
PuLP==1.6.9
pyodbc==4.0.25
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
six==1.12.0
tqdm==4.28.1
urllib3==1.24.1
wrapt==1.10.11
